In [1]:
# Intialization
import os
import sys

os.environ["SPARK_HOME"] = "/home/talentum/spark"
os.environ["PYLIB"] = os.environ["SPARK_HOME"] + "/python/lib"
# In below two lines, use /usr/bin/python2.7 if you want to use Python 2
os.environ["PYSPARK_PYTHON"] = "/usr/bin/python3.6" 
os.environ["PYSPARK_DRIVER_PYTHON"] = "/usr/bin/python3"
sys.path.insert(0, os.environ["PYLIB"] +"/py4j-0.10.7-src.zip")
sys.path.insert(0, os.environ["PYLIB"] +"/pyspark.zip")

# NOTE: Whichever package you want mention here.
# os.environ['PYSPARK_SUBMIT_ARGS'] = '--packages com.databricks:spark-xml_2.11:0.6.0 pyspark-shell' 
# os.environ['PYSPARK_SUBMIT_ARGS'] = '--packages org.apache.spark:spark-avro_2.11:2.4.0 pyspark-shell'
os.environ['PYSPARK_SUBMIT_ARGS'] = '--packages com.databricks:spark-xml_2.11:0.6.0,org.apache.spark:spark-avro_2.11:2.4.3 pyspark-shell'
# os.environ['PYSPARK_SUBMIT_ARGS'] = '--packages com.databricks:spark-xml_2.11:0.6.0,org.apache.spark:spark-avro_2.11:2.4.0 pyspark-shell'

In [2]:
#Entrypoint 2.x
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Spark SQL basic example").enableHiveSupport().getOrCreate()

# On yarn:
# spark = SparkSession.builder.appName("Spark SQL basic example").enableHiveSupport().master("yarn").getOrCreate()
# specify .master("yarn")

sc = spark.sparkContext

In [5]:
csv_file_path = "file:///home/talentum/hello/autos.csv"

# Reading the CSV file into a DataFrame
df = spark.read \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .csv(csv_file_path)

# Displaying the DataFrame
df.show(5)

+-----+-------------------+--------------------+------+---------+-----+------+-----------+------------------+---------+-------+-----+---------+-------------------+--------+----------+-----------------+-------------------+------------+----------+-------------------+
|index|        dateCrawled|                name|seller|offerType|price|abtest|vehicleType|yearOfRegistration|  gearbox|powerPS|model|kilometer|monthOfRegistration|fuelType|     brand|notRepairedDamage|        dateCreated|nrOfPictures|postalCode|           lastSeen|
+-----+-------------------+--------------------+------+---------+-----+------+-----------+------------------+---------+-------+-----+---------+-------------------+--------+----------+-----------------+-------------------+------------+----------+-------------------+
|    0|2016-03-24 11:52:17|          Golf_3_1.6|privat|  Angebot|  480|  test|       null|              1993|  manuell|      0| golf|   150000|                  0|  benzin|volkswagen|             null|2016-03-24 00:00:00|           0|     70435|2016-04-07 03:16:57|
|    1|2016-03-24 10:58:45|A5_Sportback_2.7_Tdi|privat|  Angebot|18300|  test|      coupe|              2011|  manuell|    190| null|   125000|                  5|  diesel|      audi|               ja|2016-03-24 00:00:00|           0|     66954|2016-04-07 01:46:50|
|    2|2016-03-14 12:52:21|"Jeep_Grand_Chero...|privat|  Angebot| 9800|  test|        suv|              2004|automatik|    163|grand|   125000|                  8|  diesel|      jeep|             null|2016-03-14 00:00:00|           0|     90480|2016-04-05 12:47:46|
|    3|2016-03-17 16:54:04|  GOLF_4_1_4__3TÜRER|privat|  Angebot| 1500|  test| kleinwagen|              2001|  manuell|     75| golf|   150000|                  6|  benzin|volkswagen|             nein|2016-03-17 00:00:00|           0|     91074|2016-03-17 17:40:17|
|    4|2016-03-31 17:25:20|Skoda_Fabia_1.4_T...|privat|  Angebot| 3600|  test| kleinwagen|              2008|  manuell|     69|fabia|    90000|                  7|  diesel|     skoda|             nein|2016-03-31 00:00:00|           0|     60437|2016-04-06 10:17:21|
+-----+-------------------+--------------------+------+---------+-----+------+-----------+------------------+---------+-------+-----+---------+-------------------+--------+----------+-----------------+-------------------+------------+----------+-------------------+
only showing top 5 rows

In [24]:
df.show(20)

+-----+-------------------+--------------------+------+---------+-----+-------+-----------+------------------+---------+-------+--------+---------+-------------------+--------+-------------+-----------------+-------------------+------------+----------+-------------------+
|index|        dateCrawled|                name|seller|offerType|price| abtest|vehicleType|yearOfRegistration|  gearbox|powerPS|   model|kilometer|monthOfRegistration|fuelType|        brand|notRepairedDamage|        dateCreated|nrOfPictures|postalCode|           lastSeen|
+-----+-------------------+--------------------+------+---------+-----+-------+-----------+------------------+---------+-------+--------+---------+-------------------+--------+-------------+-----------------+-------------------+------------+----------+-------------------+
|    0|2016-03-24 11:52:17|          Golf_3_1.6|privat|  Angebot|  480|   test|       null|              1993|  manuell|      0|    golf|   150000|                  0|  benzin|   volkswagen|             null|2016-03-24 00:00:00|           0|     70435|2016-04-07 03:16:57|
|    1|2016-03-24 10:58:45|A5_Sportback_2.7_Tdi|privat|  Angebot|18300|   test|      coupe|              2011|  manuell|    190|    null|   125000|                  5|  diesel|         audi|               ja|2016-03-24 00:00:00|           0|     66954|2016-04-07 01:46:50|
|    2|2016-03-14 12:52:21|"Jeep_Grand_Chero...|privat|  Angebot| 9800|   test|        suv|              2004|automatik|    163|   grand|   125000|                  8|  diesel|         jeep|             null|2016-03-14 00:00:00|           0|     90480|2016-04-05 12:47:46|
|    3|2016-03-17 16:54:04|  GOLF_4_1_4__3TÜRER|privat|  Angebot| 1500|   test| kleinwagen|              2001|  manuell|     75|    golf|   150000|                  6|  benzin|   volkswagen|             nein|2016-03-17 00:00:00|           0|     91074|2016-03-17 17:40:17|
|    4|2016-03-31 17:25:20|Skoda_Fabia_1.4_T...|privat|  Angebot| 3600|   test| kleinwagen|              2008|  manuell|     69|   fabia|    90000|                  7|  diesel|        skoda|             nein|2016-03-31 00:00:00|           0|     60437|2016-04-06 10:17:21|
|    5|2016-04-04 17:36:23|BMW_316i___e36_Li...|privat|  Angebot|  650|   test|  limousine|              1995|  manuell|    102|     3er|   150000|                 10|  benzin|          bmw|               ja|2016-04-04 00:00:00|           0|     33775|2016-04-06 19:17:07|
|    6|2016-04-01 20:48:51|Peugeot_206_CC_11...|privat|  Angebot| 2200|   test|     cabrio|              2004|  manuell|    109| 2_reihe|   150000|                  8|  benzin|      peugeot|             nein|2016-04-01 00:00:00|           0|     67112|2016-04-05 18:18:39|
|    7|2016-03-21 18:54:38|VW_Derby_Bj_80__S...|privat|  Angebot|    0|   test|  limousine|              1980|  manuell|     50|  andere|    40000|                  7|  benzin|   volkswagen|             nein|2016-03-21 00:00:00|           0|     19348|2016-03-25 16:47:58|
|    8|2016-04-04 23:42:13|Ford_C___Max_Tita...|privat|  Angebot|14500|control|        bus|              2014|  manuell|    125|   c_max|    30000|                  8|  benzin|         ford|             null|2016-04-04 00:00:00|           0|     94505|2016-04-04 23:42:13|
|    9|2016-03-17 10:53:50|VW_Golf_4_5_tueri...|privat|  Angebot|  999|   test| kleinwagen|              1998|  manuell|    101|    golf|   150000|                  0|    null|   volkswagen|             null|2016-03-17 00:00:00|           0|     27472|2016-03-31 17:17:06|
|   10|2016-03-26 19:54:18|   Mazda_3_1.6_Sport|privat|  Angebot| 2000|control|  limousine|              2004|  manuell|    105| 3_reihe|   150000|                 12|  benzin|        mazda|             nein|2016-03-26 00:00:00|           0|     96224|2016-04-06 10:45:34|
|   11|2016-04-07 10:06:22|Volkswagen_Passat...|privat|  Angebot| 2799|control|      kombi|              2005|  manuell|    140|  passat|   150000|                 12|  diesel|   volkswagen|               ja|2016-04-07 00:00:00|           0|     57290|2016-04-07 10:25:17|
|   12|2016-03-15 22:49:09|"VW_Passat_Faceli...|privat|  Angebot|  999|control|      kombi|              1995|  manuell|    115|  passat|   150000|                 11|  benzin|   volkswagen|             null|2016-03-15 00:00:00|           0|     37269|2016-04-01 13:16:16|
|   13|2016-03-21 21:37:40|VW_PASSAT_1.9_TDI...|privat|  Angebot| 2500|control|      kombi|              2004|  manuell|    131|  passat|   150000|                  2|    null|   volkswagen|             nein|2016-03-21 00:00:00|           0|     90762|2016-03-23 02:50:54|
|   14|2016-03-21 12:57:01|Nissan_Navara_2.5...|privat|  Angebot|17999|control|        suv|              2011|  manuell|    190|  navara|    70000|                  3|  diesel|       nissan|             nein|2016-03-21 00:00:00|           0|      4177|2016-04-06 07:45:42|
|   15|2016-03-11 21:39:15|KA_Lufthansa_Edit...|privat|  Angebot|  450|   test| kleinwagen|              1910|     null|      0|      ka|     5000|                  0|  benzin|         ford|             null|2016-03-11 00:00:00|           0|     24148|2016-03-19 08:46:47|
|   16|2016-04-01 12:46:46|         Polo_6n_1_4|privat|  Angebot|  300|   test|       null|              2016|     null|     60|    polo|   150000|                  0|  benzin|   volkswagen|             null|2016-04-01 00:00:00|           0|     38871|2016-04-01 12:46:46|
|   17|2016-03-20 10:25:19|Renault_Twingo_1....|privat|  Angebot| 1750|control| kleinwagen|              2004|automatik|     75|  twingo|   150000|                  2|  benzin|      renault|             nein|2016-03-20 00:00:00|           0|     65599|2016-04-06 13:16:07|
|   18|2016-03-23 15:48:05|Ford_C_MAX_2.0_TD...|privat|  Angebot| 7550|   test|        bus|              2007|  manuell|    136|   c_max|   150000|                  6|  diesel|         ford|             nein|2016-03-23 00:00:00|           0|     88361|2016-04-05 18:45:11|
|   19|2016-04-01 22:55:47|Mercedes_Benz_A_1...|privat|  Angebot| 1850|   test|        bus|              2004|  manuell|    102|a_klasse|   150000|                  1|  benzin|mercedes_benz|             nein|2016-04-01 00:00:00|           0|     49565|2016-04-05 22:46:05|
+-----+-------------------+--------------------+------+---------+-----+-------+-----------+------------------+---------+-------+--------+---------+-------------------+--------+-------------+-----------------+-------------------+------------+----------+-------------------+
only showing top 20 rows

In [6]:
csv_file_path = "autos.csv"

# Reading the CSV file into a DataFrame
df = spark.read \
    .option("header", "true") \
    .option("inferSchema", "true") \
    .csv(csv_file_path)

# Displaying the DataFrame
df.show(5)

+-----+-------------------+--------------------+------+---------+-----+------+-----------+------------------+---------+-------+-----+---------+-------------------+--------+----------+-----------------+-------------------+------------+----------+-------------------+
|index|        dateCrawled|                name|seller|offerType|price|abtest|vehicleType|yearOfRegistration|  gearbox|powerPS|model|kilometer|monthOfRegistration|fuelType|     brand|notRepairedDamage|        dateCreated|nrOfPictures|postalCode|           lastSeen|
+-----+-------------------+--------------------+------+---------+-----+------+-----------+------------------+---------+-------+-----+---------+-------------------+--------+----------+-----------------+-------------------+------------+----------+-------------------+
|    0|2016-03-24 11:52:17|          Golf_3_1.6|privat|  Angebot|  480|  test|       null|              1993|  manuell|      0| golf|   150000|                  0|  benzin|volkswagen|             null|2016-03-24 00:00:00|           0|     70435|2016-04-07 03:16:57|
|    1|2016-03-24 10:58:45|A5_Sportback_2.7_Tdi|privat|  Angebot|18300|  test|      coupe|              2011|  manuell|    190| null|   125000|                  5|  diesel|      audi|               ja|2016-03-24 00:00:00|           0|     66954|2016-04-07 01:46:50|
|    2|2016-03-14 12:52:21|"Jeep_Grand_Chero...|privat|  Angebot| 9800|  test|        suv|              2004|automatik|    163|grand|   125000|                  8|  diesel|      jeep|             null|2016-03-14 00:00:00|           0|     90480|2016-04-05 12:47:46|
|    3|2016-03-17 16:54:04|  GOLF_4_1_4__3TÜRER|privat|  Angebot| 1500|  test| kleinwagen|              2001|  manuell|     75| golf|   150000|                  6|  benzin|volkswagen|             nein|2016-03-17 00:00:00|           0|     91074|2016-03-17 17:40:17|
|    4|2016-03-31 17:25:20|Skoda_Fabia_1.4_T...|privat|  Angebot| 3600|  test| kleinwagen|              2008|  manuell|     69|fabia|    90000|                  7|  diesel|     skoda|             nein|2016-03-31 00:00:00|           0|     60437|2016-04-06 10:17:21|
+-----+-------------------+--------------------+------+---------+-----+------+-----------+------------------+---------+-------+-----+---------+-------------------+--------+----------+-----------------+-------------------+------------+----------+-------------------+
only showing top 5 rows

In [7]:
df2=df

In [8]:
df2.show(5)

+-----+-------------------+--------------------+------+---------+-----+------+-----------+------------------+---------+-------+-----+---------+-------------------+--------+----------+-----------------+-------------------+------------+----------+-------------------+
|index|        dateCrawled|                name|seller|offerType|price|abtest|vehicleType|yearOfRegistration|  gearbox|powerPS|model|kilometer|monthOfRegistration|fuelType|     brand|notRepairedDamage|        dateCreated|nrOfPictures|postalCode|           lastSeen|
+-----+-------------------+--------------------+------+---------+-----+------+-----------+------------------+---------+-------+-----+---------+-------------------+--------+----------+-----------------+-------------------+------------+----------+-------------------+
|    0|2016-03-24 11:52:17|          Golf_3_1.6|privat|  Angebot|  480|  test|       null|              1993|  manuell|      0| golf|   150000|                  0|  benzin|volkswagen|             null|2016-03-24 00:00:00|           0|     70435|2016-04-07 03:16:57|
|    1|2016-03-24 10:58:45|A5_Sportback_2.7_Tdi|privat|  Angebot|18300|  test|      coupe|              2011|  manuell|    190| null|   125000|                  5|  diesel|      audi|               ja|2016-03-24 00:00:00|           0|     66954|2016-04-07 01:46:50|
|    2|2016-03-14 12:52:21|"Jeep_Grand_Chero...|privat|  Angebot| 9800|  test|        suv|              2004|automatik|    163|grand|   125000|                  8|  diesel|      jeep|             null|2016-03-14 00:00:00|           0|     90480|2016-04-05 12:47:46|
|    3|2016-03-17 16:54:04|  GOLF_4_1_4__3TÜRER|privat|  Angebot| 1500|  test| kleinwagen|              2001|  manuell|     75| golf|   150000|                  6|  benzin|volkswagen|             nein|2016-03-17 00:00:00|           0|     91074|2016-03-17 17:40:17|
|    4|2016-03-31 17:25:20|Skoda_Fabia_1.4_T...|privat|  Angebot| 3600|  test| kleinwagen|              2008|  manuell|     69|fabia|    90000|                  7|  diesel|     skoda|             nein|2016-03-31 00:00:00|           0|     60437|2016-04-06 10:17:21|
+-----+-------------------+--------------------+------+---------+-----+------+-----------+------------------+---------+-------+-----+---------+-------------------+--------+----------+-----------------+-------------------+------------+----------+-------------------+
only showing top 5 rows

In [9]:
df.printSchema()

root
 |-- index: string (nullable = true)
 |-- dateCrawled: string (nullable = true)
 |-- name: string (nullable = true)
 |-- seller: string (nullable = true)
 |-- offerType: string (nullable = true)
 |-- price: string (nullable = true)
 |-- abtest: string (nullable = true)
 |-- vehicleType: string (nullable = true)
 |-- yearOfRegistration: string (nullable = true)
 |-- gearbox: string (nullable = true)
 |-- powerPS: string (nullable = true)
 |-- model: string (nullable = true)
 |-- kilometer: integer (nullable = true)
 |-- monthOfRegistration: string (nullable = true)
 |-- fuelType: string (nullable = true)
 |-- brand: string (nullable = true)
 |-- notRepairedDamage: string (nullable = true)
 |-- dateCreated: string (nullable = true)
 |-- nrOfPictures: integer (nullable = true)
 |-- postalCode: string (nullable = true)
 |-- lastSeen: timestamp (nullable = true)

In [10]:
df.describe().show()

+-------+------------------+--------------------+--------------------+-------+------------------+------------------+------+------------------+------------------+------------------+------------------+------------------+------------------+-------------------+----------+----------+-------------------+-------------------+------------------+------------------+
|summary|             index|         dateCrawled|                name| seller|         offerType|             price|abtest|       vehicleType|yearOfRegistration|           gearbox|           powerPS|             model|         kilometer|monthOfRegistration|  fuelType|     brand|  notRepairedDamage|        dateCreated|      nrOfPictures|        postalCode|
+-------+------------------+--------------------+--------------------+-------+------------------+------------------+------+------------------+------------------+------------------+------------------+------------------+------------------+-------------------+----------+----------+-------------------+-------------------+------------------+------------------+
|  count|            371824|              371824|              371824| 371823|            371823|            371823|371794|            333953|            371810|            351613|            371809|            351339|            371823|             371795|    338436|    371760|             299763|             371823|            371823|            371823|
|   mean|          185763.5|                null|1.312778347986932...|   null| 6259.489864864865|17295.124087885943|  null|2003.0135135135135|2004.5779660697608|106.03716216216216|115.55019163688041| 6046.651279707496|125518.69228369412|  5.734441911355029|      null|      null|               null|                0.0| 41.63701008275443| 50820.54457414939|
| stddev|107251.03974321182|                null|9.911259041873089E18|   null|17151.099475748353|  3587958.57312194|  null| 7.330906468321265| 92.86672241989169| 65.83519720152317|192.13928734765673|27257.347031371217|  40252.6277328544|  3.712403703546147|      null|      null|               null|                0.0|1640.4572345835277|25799.086534092254|
|    min|                 0|**Opel_Corsa_1_2_...|!!!!!!!!!!!!!!!!!...|Angebot|                 0|                 0|andere|              1970|              1000|                 0|                 0|               100|                 0|                  0|alfa_romeo|alfa_romeo|2016-03-05 00:00:00|                  0|                 0|             10115|
|    max|             99999|verkaufe__ein_vec...|€€€_Mercedes_E200...| privat|            Gesuch|              test|  test|               suv|           manuell|           manuell|            zafira|            zafira|            150000|                lpg|     volvo|     volvo|               nein|2016-04-07 00:00:00|             99427|             99998|
+-------+------------------+--------------------+--------------------+-------+------------------+------------------+------+------------------+------------------+------------------+------------------+------------------+------------------+-------------------+----------+----------+-------------------+-------------------+------------------+------------------+

In [14]:
from pyspark.sql.functions import col, sum

df.select([sum(col(c).isNull().cast("int")).alias(c) for c in df.columns]).show()

+-----+-----------+----+------+---------+-----+------+-----------+------------------+-------+-------+-----+---------+-------------------+--------+-----+-----------------+-----------+------------+----------+--------+
|index|dateCrawled|name|seller|offerType|price|abtest|vehicleType|yearOfRegistration|gearbox|powerPS|model|kilometer|monthOfRegistration|fuelType|brand|notRepairedDamage|dateCreated|nrOfPictures|postalCode|lastSeen|
+-----+-----------+----+------+---------+-----+------+-----------+------------------+-------+-------+-----+---------+-------------------+--------+-----+-----------------+-----------+------------+----------+--------+
|    0|          0|   0|     1|        1|    1|    30|      37871|                14|  20211|     15|20485|        1|                 29|   33388|   64|            72061|          1|           1|         1|     297|
+-----+-----------+----+------+---------+-----+------+-----------+------------------+-------+-------+-----+---------+-------------------+--------+-----+-----------------+-----------+------------+----------+--------+

In [17]:
from pyspark.sql.functions import col, sum

# Get the list of columns
columns = df.columns

# Create a dictionary to store the null count for each column
null_counts = {col_name: df.filter(col(col_name).isNull()).count() for col_name in columns}

# Convert the dictionary to a DataFrame for better display
null_counts_df = spark.createDataFrame([(k, v) for k, v in null_counts.items()], ["Column", "NullCount"])

# Show the null counts
null_counts_df.show()

+-------------------+---------+
|             Column|NullCount|
+-------------------+---------+
|              index|        0|
|        dateCrawled|        0|
|               name|        0|
|             seller|        1|
|          offerType|        1|
|              price|        1|
|             abtest|       30|
|        vehicleType|    37871|
| yearOfRegistration|       14|
|            gearbox|    20211|
|            powerPS|       15|
|              model|    20485|
|          kilometer|        1|
|monthOfRegistration|       29|
|           fuelType|    33388|
|              brand|       64|
|  notRepairedDamage|    72061|
|        dateCreated|        1|
|       nrOfPictures|        1|
|         postalCode|        1|
+-------------------+---------+
only showing top 20 rows

In [21]:
value_count_veh_type=df.groupBy("vehicleType").count()
value_count_veh_type.show()

+-----------+-----+
|vehicleType|count|
+-----------+-----+
|       2016|    6|
|       2012|    9|
|       1988|    3|
|       2017|    8|
|       2014|    3|
|       1984|    1|
|       2013|    5|
|       2005|   14|
|       2000|   23|
|       null|37871|
|      coupe|19015|
| kleinwagen|80023|
|        bus|30201|
|     andere| 3357|
|       2002|   22|
|       2018|    3|
|       2009|   10|
|       1995|    6|
|  limousine|95894|
|       2006|   23|
+-----------+-----+
only showing top 20 rows

In [23]:
value_count_veh_type.unique()

AttributeError: 'DataFrame' object has no attribute 'unique'